#griddedPointInfoWindow {
    .gridded-legend-color {
        display: inline-block;;
        width: 30px;
        height: 30px;
        border: 1px solid #aaa;
    }
    .gridded-point-data {
        display: inline-block;
        margin-left: 10px;
    }
}
