<div class="vis-container">
    <div class="vis-working" *ngIf="selection.working">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="chart-container">
        <visualization-download *ngIf="!thumbnail && !mobileMode" svgWrapperId="{{id}}" filename="{{filename}}"></visualization-download>
        <div [class]="clazz" id="{{id}}" [hidden]="thumbnailSrc"><svg class="svg-visualization"></svg></div>
        <div [hidden]="!thumbnailSrc">
            <canvas class="thumbnail-canvas" style="display: none;"></canvas>
            <img class="thumbnail-image" />
        </div>
    </div>
    <observation-frequency-station-control *ngIf="!thumbnail && stations && stations.length > 1" [stations]="stations" [(station)]="station" (onStationChange)="redrawSvg()"></observation-frequency-station-control>
    <div *ngIf="stations && stations.length > 1 && selection.editMode" class="vis-disclaimer">Note: The station selected here will be the initial station shown for visitors.</div>
</div>
<!--pre *ngIf="record">{{record | json}}</pre-->
