<div class="vis-container">
    <div class="vis-working" *ngIf="selection.working">
        <md-progress-spinner mode="indeterminate"></md-progress-spinner>
    </div>
    <div class="chart-container">
        <visualization-download svgWrapperId="{{id}}" filename="{{filename}}"></visualization-download>
        <div [class]="clazz" id="{{id}}"><svg></svg></div>
    </div>
    <div *ngIf="disclaimer" class="vis-disclaimer">{{disclaimer}}</div>
</div>
<pre *ngIf="record">{{record | json}}</pre>
<pre *ngIf="selection.debug">{{selection.json | json}}</pre>
